.home-main{
    background-color: #009247;
    border-radius: 15px;
    color: #fff;
    height: 323px;
}

.homecontent{
    background-color: #F0FFEF;
    border-radius: 15px;
    color: #000;
    height: 176px;
}