

section{
    background-image: url(../../../../assets/bgimage.png);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
text-decoration: none;
color: black;
}

.pass-icon{
    position: absolute;
    top: 5px;
    right:10px;
    color: #000;
}
