<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="auth-card">
                    <div class="text-center"><img src="../../../../assets/4 3.png" alt="Background image"></div>
                    <div class="title">
                        <h3> Reset  Password</h3>
                        <p>Please Enter Your Otp  or Check Your Inbox</p>
                        <form [formGroup]="resetPassForm" (ngSubmit)="onResetPass(resetPassForm) ">
                        <div>
                            <div class="input-group mb-2">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-mobile-screen-button"></i></span>
                             <!-- should be the same name on the name created in login.ts  -->
                            <input formControlName="email" 
                            type="email" class="form-control" placeholder="Please Enter your Email" aria-label="Email" aria-describedby="basic-addon1">
                            </div>
                            <div class="text-danger mb-3" *ngIf="resetPassForm.controls?.email?.touched">
                                <span class="fs-6" *ngIf="resetPassForm.controls?.email?.errors?.['required']">* Email is required field</span>
                                <span class="fs-6" *ngIf="resetPassForm.controls?.email?.errors?.['email']">* Please use a valid Email format</span>
                            </div>
                        </div>
                        <div>
                             <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-mobile-screen-button"></i></span>
                                <input formControlName="seed"
                                type="text" class="form-control" placeholder="OTP" aria-label="OTP" aria-describedby="basic-addon1">
                                </div>
                                <div class="text-danger mb-3" *ngIf="resetPassForm.controls?.seed?.touched">
                                    <span class="fs-6" *ngIf="resetPassForm.controls?.seed?.errors?.['required']">* OTP is required field</span>
                                </div>
                        </div>

                        <div>
                            <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                            <input formControlName="password"
                                    [type]="isHide ?'password':'text'" class="form-control" placeholder="New Password" aria-label="Password" aria-describedby="basic-addon1">
                                    <a (click)="isHide=!isHide" class="pass-icon"><i class="fa-solid"[class]="isHide?'fa-eye-slash':'fa-eye'" aria-hidden="true"></i></a>
                            </div>
                            <div class="text-danger mb-3" *ngIf="resetPassForm.controls?.password?.touched">
                                <span class="fs-6" *ngIf="resetPassForm.controls?.password?.errors?.['required']">* Please Enter your password</span>
                                <span class="fs-6" *ngIf="resetPassForm.controls?.password?.errors?.['pattern']">* the password should have:

                                    1 uppercase letter
                                    1 lowercase letter
                                    A number
                                    A minimum length of 8.</span>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-mobile-screen-button"></i></span>
                            <input formControlName="confirmPassword"
                            [type]="isHide ?'password':'text'" class="form-control" placeholder="Confirm New Password" aria-label="Confirm Password" aria-describedby="basic-addon1">
                            <a (click)="isHide=!isHide" class="pass-icon"><i class="fa-solid"[class]="isHide?'fa-eye-slash':'fa-eye'" aria-hidden="true"></i></a>
                            </div>
                            <span class="text-danger" *ngIf=" resetPassForm?.get('password')?.value && resetPassForm?.get('confirmPassword')?.dirty && resetPassForm?.get('password')?.value !== resetPassForm?.get('confirmPassword')?.value "> Password and Confirm Password must match </span>
                            
                        <div>
                            <button class="btn btn-success w-100 mt-3" [disabled]="resetPassForm.invalid">Reset Password</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>