<section>
    <div class="container home-main">
        <div class="row align-items-center d-flex justify-content-center ">
                <div class="col-md-8 d-flex flex-column">
                    <h1>
                       Welcome <span class="text-muted text-light">{{userName}}</span>
                    </h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, facere. At sunt suscipit ab nemo magnam sequi ad quidem alias quisquam modi? Aut, a rerum vero voluptatem dolores aperiam ex.</p>
                </div>
                <div class="col-md-4">
                    <img src="../../../assets/eating vegan food-rafiki.png" alt="home pic" class="img-fluid">
                </div>
            </div>
    </div>
    <!-- <div class="homecontent d-flex mt-4">
            <div class="home-text m-3 p-5">
                <h2>Fill the <span>Recipes </span> !</h2>
                <p>you can now fill the meals easily using the table and form , click here and sill it with the table !</p>
            </div>
            <button class="btn btn-success">Fill Recipes</button>   
    </div> -->
    <div class="container-fluid homecontent mt-4">
        <div class="row align-items-center m-3 p-5">
            <div class="col-8">
                <h2 class="text-success">Fill the Recipes!</h2>
                <p>You can now fill the meals easily using the table and form.</p>
                <p>Click here and fill it with the table!</p>
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-success btn-lg">Fill Recipes →</button>
            </div>
        </div>
    </div>
</section>