.home-main{
    background-image:url(../../../assets/Untitled.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    border-radius: 15px;
    color: #fff;
    height: 323px;
}

.homecontent{
    background-color: #F0FFEF;
    border-radius: 15px;
    color: #000;
    height: 176px;
}